/* Daily Forecast Containers */
.daily-forecast {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  justify-content: center;
  margin: 1em 0;
}

.daily-forecast__card {
  background-color: var(--color-background-tertiary);
  border-radius: 0.5em;
  padding: 0.5em;
}

.daily-forecast__main-data-container {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0.3em auto;
  max-width: fit-content;
}

.daily-forecast__main-data {
  align-items: flex-end;
  display: grid;
  gap: 0.3em;
  grid-template-columns: auto 1fr;
}

.daily-forecast__secondary-data-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}

.daily-forecast__secondary-data {
  flex: 30%;
  margin: 0.5em auto;
}

/* Daily Forecast Elements */
.daily-forecast__icon-large {
  filter: invert(1);
  height: var(--icon-size-medium-large);
  padding-right: 0.5em;
  width: var(--icon-size-medium-large);
}

.daily-forecast__icon-large.icon--light-theme {
  filter: invert(0);
}

.daily-forecast__icon-small {
  height: var(--icon-size-medium);
  margin: 0 auto;
  width: var(--icon-size-medium);
}

.daily-forecast__txt-condition {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

.daily-forecast__txt-data {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

.daily-forecast__txt-date {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.daily-forecast__txt-temperature {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.daily-forecast__txt-temperature-label {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  margin-top: -0.7em;
}
